@media (max-width:1200px) {
    table{
        width: 1000px!important;
        margin-right: 0;
    }
}

@media (max-width:768px) {
    .leftSideBar{
        display: none;
    }
    .content{
        margin-left: 0;
    }
    .top_second,.right_side  {
        display: none !important;
    }
    .basic_filter{
        display: block !important;
    }
    .basic_filter p{
        display:inline-block;
    }
}