h1, h2, h3,h4,h5,h6,p,span{
    color: #1d2327;
    margin-bottom: 0;
}
h1{
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px;
    line-height: 1.3;
}
ul{
    padding: 0;
    margin-bottom: 0;
}
ul li {
    list-style: none;
  }
input{
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
}
input, textarea {
    font-size: 14px;
}
input, textarea, select, button{
    outline: none;
}
.table_button{
    height: fit-content;
    margin-left: 6px;
    padding: 4px 8px;
    position: relative;
    /* top: -3px; */
    text-decoration: none;
    border: 1px solid #2271b1;
    border-radius: 2px;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #2271b1;
    background: #f6f7f7;
    cursor: pointer;
}
 a {
    line-height: 2;
    padding: 0.2em;
    text-decoration: none;
}
select {
    font-size: 14px;
    line-height: 2;
    color: #2c3338;
    border-color: #8c8f94;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    max-width: 25rem;
    appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}
input[type=checkbox], input[type=radio] {
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background: #fff;
    color: #50575e;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1rem;
    margin: -0.25rem 0.25rem 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
    min-width: 1rem;
    /* -webkit-appearance: none; */
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: .05s border-color ease-in-out;
}
.hide_scrollbar::-webkit-scrollbar {
    display: none;
  }
.hide_scrollbar{
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.w-150{
    width: 150px;
}