* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #50575e;
}

body {
    background-color: #f1f1f1;
  color: #3c434a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  /* min-width: 600px; */
}

.leftSideBar {
  position: fixed;
  background-color: #1e1e1e;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  width: 200px;
  /* padding: 5px; */
  margin-top: 32px;
  z-index: 9;
}
.content {
  position: relative;
  margin-left: 200px;
  margin-top: 40px;
  
}
.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  background-color: #1e1e1e;
  z-index: 20;
  height:32px
}
.leftSideBar ul {
  padding: 0;
}

.leftSideBar ul li a i {
  color: #fff;
  margin-right: 5px;
}
.leftSideBar ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 10px;
  display: block;
  color: #fff;
  transition: .3s;
}
.leftSideBar ul li a:hover{
    transform: translate(3px);
}
.leftSideBar ul li a.active,.leftSideBar ul li a:hover{
    background-color: #3858e9;
}
.leftSideBar ul li ul li a{
    font-size:13px;
    transition: .3s;
    font-weight: 600;
    background-color: transparent;
    border-left: 5px solid transparent;
}
.leftSideBar ul li ul li a:hover,.leftSideBar ul li ul li a.active{
    color: #33f078;
    border-left: 5px solid #33f078;
    background-color: transparent;
}
.profile .profile_pic img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.top_bar span{
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    margin-left: 5px;
}
.profile{
    position: relative;
}

.profile_content{
    position: absolute;
    top: 28px;
    left: -114px;
    background-color:#2c3338;
    visibility: hidden;
    border: 1px solid #6c757d;
    border-top: none;
}
.profile_content.active{
    visibility: visible;
}
.profile_content img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
}
.profile_content ul li{
    margin-bottom: -3px;
}
.profile_content ul li a{
    color: rgba(240,246,252,.7);
    font-size: 14px;
    /* line-height:1; */
}
.profile_content ul li a:hover{
    color: #72aee6;
}
.profile_content ul li span.slogan{
    font-size: 10px;
    margin-bottom: 3px;
    margin-top: -5px;
    display: block;
}
.pofile_link{
    /* margin-top: 5px; */
}
.pofile_link li{
    padding: 0 5px;
    border-bottom: 1px solid #6c757d;
}
.pofile_link li:hover{
    background-color: #3c3c3c;
}
.pofile_link li a{
    display: block;
    padding: 5px;
}
.pofile_link li:last-child{
    border: none;
}
.leftSideBar.active{
    width: 37px;
}
.leftSideBar span{
    color: #fff;
}
.leftSideBar.active span{
    display: none;
}
.leftSideBar.active .toggle_sub_menu{
    visibility: hidden;
    height: 0;
}
.content.active{
    margin-left: 37px;
}
/* .left_nav li{
    position: relative;
}
.leftSideBar.active .toggle_sub_menu{
    position: absolute;

}
.leftSideBar.active .toggle_sub_menu span{
    display: block;
} */

.toggle_left_menu{
    border: none;
    font-size: 18px;
    outline: none;
    background-color: transparent;
    display: inline-block;
    margin-right: 5px;
}
.toggle_left_menu i{
    color: #fff;
}
.left_nav .collapse{
    display: block;
}
.toggle_left_menu{
    display: none;
}
.modal-footer{
    /* padding: 0px; */
    color: #424548;
  }
  .modal-header{
    /* padding: 5px 8px; */
    background-color: #f6f7f7;
    color:#35383c;
  }
  .modal-body{
    color: #424548;
  }
  .modal-body p{
    font-size: 15px;
  }
  .add_post_btn.second{
    display: none;
}
.cHeaderBtn{
    font-weight: 500 !important;
    color: #444545 !important;
    width: 150px !important;
    background: #fac077 !important;
    border-color: #fac077!important;
}
.dash-summary{
    font-size: 18px;
    font-weight: 700;
    color: #444545;
    letter-spacing: 2px;
    margin-bottom: 10px !important;
}
.card{
    margin-bottom: 10px;
}
.top_bar .img_sm{
    width:20px !important;
    height:20px !important
}
.dropdown-item{
    font-size: 13px;
    color: #fff;
}
.dropdown-menu.show{
    background:#2c3338
}
.dropdown-toggle.post_toggle{
    position: relative;
}
.dropdown-toggle.post_toggle::after{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.footer_text{
    position: absolute;
    bottom: 0;
    /* left: 0; */
    right: 0;
    padding: 10px 20px;
    color: #50575e;
}
.web_version_2 .nav_indicator{
    font-weight: 400;
    font-size: 15px;
    padding-top: 4px;
    margin-left: 7px;
  }
  .web_version_2 .divider{
    margin-left: 7px;
    color:#ababab;
    font-weight: 100;
  }